{% extends 'base.html' %}
{% load static %}

{% block subtitle %} {{user.username|title}} {% endblock subtitle %}

{% block navbaritem %}
    <li class="nav-item"><a class="nav-link {% if navbar == 'hero' %} active {% endif %}" href="{% url 'home_view' %}">Accueil</a></li>
    <li class="nav-item"><a class="nav-link {% if navbar == 'contact' %} active {% endif %}" href="{% url 'contact_view' %}">Contact</a></li>
    <li class="nav-item"><a class="nav-link {% if navbar == 'membre' %} active {% endif %}" href=" {% url 'logout_view' %} ">Se déconnecter</a></li>
{% endblock navbaritem %}  

{% block heroview %}

<div class="col-lg-12 col-xl-12 col-xxl-12">
    <div class="my-5 text-center text-xl-start">
        <h1 class="display-5 fw-bolder hero-title mb-2 text-center">
            Bienvenue, Membre ComptaMat NEx !
        </h1>
        <h4 class="text-center text-yel">{{user.username|title}}</h4>
    </div>
</div>

{% endblock heroview %}


{% block content %}


{% endblock content %}
