<!--  -->
{% extends 'base.html' %}
{% load static %}

{% block subtitle %} Inscription {% endblock subtitle %}

{% block heroview %}

<div class="col-lg-12 col-xl-12 col-xxl-12">
    <div class="my-5 text-center text-xl-start">
        <h1 class="display-5 fw-bolder hero-title mb-3 text-center">
            Veuillez créer votre compte ComptaMat NEx
        </h1>
    </div>
</div>

{% endblock heroview %}
{% block content %}
<section class="register" id="register">
    <div class="container px-5 my-3 parenter">
        <div class="form-bg">
            <form class="formulaire" id="formulaire-register" action="" method="POST">
                <!-- data-sb-form-api-token="API_TOKEN" -->
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{user_form.username}}
                    <label for="{{user_form.username.id_for_label}}">Nom d'utilisateur</label>
                    <div class="invalid-feedback" data-sb-feedback="username:required">Le nom d'utilisateur est obligatoire.</div>
                </div>
                <div class="form-floating mb-3">
                    {{user_form.first_name}}
                    <label for="{{user_form.first_name.id_for_label}}">Prénom</label>
                    <div class="invalid-feedback" data-sb-feedback="prenom:required">Le prénom est obligatoire.</div>
                </div>
                <div class="form-floating mb-3">
                    {{user_form.last_name}}
                    <label for="{{user_form.last_name.id_for_label}}">Nom</label>
                    <div class="invalid-feedback" data-sb-feedback="nom:required">Le nom est obligatoire.</div>
                </div>
                <div class="form-floating mb-3">
                    {{user_form.email}}
                    <label for="{{user_form.email.id_for_label}}">Adresse mail</label>
                    <div class="invalid-feedback" data-sb-feedback="adresseMail:required">L'adresse mail est obligatoire.</div>
                    <div class="invalid-feedback" data-sb-feedback="adresseMail:email">L'adresse mail n'est pas valide.</div>
                </div>
                <div class="form-floating mb-3">
                    {{user_form.password}}
                    <label for="{{user_form.password.id_for_label}}">Mot de passe</label>
                    <div class="invalid-feedback" data-sb-feedback="member-password:required">Le mot de passe est obligatoire.</div>
                </div>
                <div class="form-floating mb-3">
                    {{user_form.shipping_id}}
                    <label for="{{user_form.shipping_id.id_for_label}}">Code de livraison</label>
                    <div class="invalid-feedback" data-sb-feedback="shippingid:required">Le code de livraison est obligatoire.</div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-danger btn-ne btn-lg" id="submitButton" type="submit">
                        Soumettre
                    </button>
                </div>
            </form>
            <div class="not_login text-center">
                <a href=" {% url 'login_view' %} " class="register">Se connecter ?</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}