{% extends 'base.html' %}
{% load static %}


{% block navbaritem %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home_view' %}">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" href=" {% url 'login_view' %} ">Membre ComptaMat NEx</a></li>

    <li class="nav-item panier-item">
        <a class="nav-link" href="{% url 'panier_view' %}">
            <img  id="cart-icon" src="{% static 'assets/commande/cart.png' %}">
        </a>
        <p id="cart-total">
            {{cartItems}}
        </p>
    </li>
{% endblock navbaritem %} 

{% block heroview %}{% endblock heroview %}


{% block content %}{% endblock content %}
